#container {
  max-width:1000px;
  margin: 0 auto;
}
textarea#input.form-control, textarea#output.form-control {
  height:90%;
  width:50%

}
textarea#input.form-control {
  float: left;
}
textarea#output.form-control {
  float: right;
}
body{
  background:black;
}
