textarea#input.form-control, textarea#output.form-control, div#output {
  height:50%;
  width:40%;
  float: left;
  margin:10px 0;
  margin-right:20px;
}
#output {
  white-space: pre-wrap;
  overflow:auto;
  resize: both;
  user-select: all; 
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
}
.highlighttext {
  background-color: #ff0;
}
.her {
  background-color: #0ff;
}
.changetext {
  background-color:#ededed;
}
h1 {
  font-size:30px !important;
}
button.btn {
  display:block;
  clear:both;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding-top:10px;
}
span.muted {
  font-size:14px;
}
